<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Broker Agent Dashboard API</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 60px;
                font-weight: 200;
                margin-bottom: 0;
            }
        </style>
    </head>
    <body>
        <h1>Broker Agent Dashboard</h1>
        <div>API</div>

        <?php

		if (isset($name)) echo "Name : $name <br>";


		if (isset($functionRequested) && $functionRequested == "getAssociateTotals") {
			echo "Function Requested : $functionRequested <br>";
			if (isset($associateID)) echo "AssociateID : $associateID <br>";
			if (isset($timePeriod)) echo "Time Period : $timePeriod <br>";
		}


        ?>
    </body>
</html>
